option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "wsgi:flaskbb"

container_commands:
  01_app_logs:
    command: "mkdir -p /var/log/flaskbb-logs"
  02_app_data:
    command: "mkdir -p /var/app/flaskbb-data"
  03_initdb:
    command: "source /var/app/venv/*/bin/activate && flaskbb db upgrade"
    leader_only: true
  04_populatedb:
    command: "source /var/app/venv/*/bin/activate && flaskbb populate"
    leader_only: true
    ignoreErrors: true
  05_app_logs_permissions:
    command: "chmod -R g+rw /var/log/flaskbb-logs && chown -R webapp:webapp /var/log/flaskbb-logs"
  06_app_data_permissions:
    command: "chmod -R g+rw /var/app/flaskbb-data && chown -R webapp:webapp /var/app/flaskbb-data"
